:root {
  --white: #fff;
  --brand-color: #2196f3;
  --black: #000;
  --shadow: #2f303a;
  --shadow2: #212121;
}
body {
  color: #757575;
  background: var(--white);
  font-family: "Roboto", "raleway", sans-serif;
  font-weight: 400;
  margin: 0.0;
}
.container {width: 1200px;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  background: var(--white);
}
.title {
  color: var(--brand-color);
}
.headline4 {
  font-weight: 700;
  line-height: 1.17;
  color: var(--black);
}
.logo-link {
  font-family: "Raleway";

  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--black);
  text-decoration: none;
}
.section1 {
  background: var(--shadow);
}
.headline1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white);
}

.list1 {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  list-style: none;
  color: var(--shadow2);
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}
.navigation {
  display: flex;
  justify-content: space-between;
}
.list1-link {
  text-decoration: none;
  color: var(--shadow2);
}

.list1 :hover {
  color: var(--brand-color);
  text-decoration: none;
}
.list1 :focus {
  color: var(--brand-color);
  text-decoration: none;
}
.button1 {
  background: var(--brand-color);

  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  text-align: center;
  letter-spacing: 0.06em;

  color: var(--white);
}
.adres-list {
  display: flex;
  line-height: 1.17;
}
.mail {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}
.mail:hover {
  color: var(--brand-color);
  text-decoration: none;
}
.mail:focus {
  color: var(--brand-color);
  text-decoration: none;
}
.mail1:hover {
  color: var(--brand-color);
  text-decoration: none;
}
.mail1:focus {
  color: var(--brand-color);
  text-decoration: none;
}
.phone {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;

  color: #757575;
  text-decoration: none;
}
.phone:hover {
  color: var(--brand-color);
  text-decoration: none;
}
.phone:focus {
  color: var(--brand-color);
  text-decoration: none;
}
.phone1:hover {
  color: var(--brand-color);
  text-decoration: none;
}
.phone1:focus {
  color: var(--brand-color);
  text-decoration: none;
}

.headline2 {
  color: var(--black);
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}
.list2 {
  list-style: none;
  text-align: left;
  line-height: 1.17;
  display: flex;
}
.list2 li {
  text-decoration: none;
}
.headline3 {
  color: var(--black);
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}
.list3 {
  list-style: none;
  display: flex;
}
.list3 li {
  text-decoration: none;
}
.list4 {
  text-align: center;
  list-style: none;
  display: flex;
}
.list4 li {
  text-decoration: none;
}
.figcaption {
  font-weight: 500;
  text-align: center;
  color: var(--black);
  line-height: 1.17;
}

.section4 {
  background: #f5f4fa;
}
.footer1 {
  background: var(--shadow);
}
.footer-adress {
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--white);
}
.mail1 {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.phone1 {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.logo-link1 {
  font-family: "Raleway";

  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  text-decoration: none;
}
.title1 {
  color: var(--white);
}

.section-buttons {
  list-style: none;

  text-align: center;
  display: flex;
  justify-content: center;
}
.button1-1 {
  font-weight: 500;
  font-family: "Roboto";
  border-style: none;
  background: #f5f4fa;
  cursor: pointer;
  line-height: 1.62;
}

.button1-1:hover {
  color: var(--white);
  background-color: var(--brand-color);
}

.button1-1:focus {
  color: var(--white);
  background-color: var(--brand-color);
}

.figcaption1 {
  font-family: "Roboto";
  font-weight: 700;
  color: var(--black);
}
.figcaption2 {
  font-family: "Roboto";
  font-weight: 700;
  color: var(--black);
  line-height: 2;
}
.figcaption2-text {
  line-height: 1.87;
}
.adres-list {
  list-style: none;
}
.list1-2 {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc(100% / 3 - 430px);
}
.logo-link:hover {
  color: var(--brand-color);
}
.logo-link:focus {
  color: var(--brand-color);
}
.logo-link1:hover {
  color: var(--white);
}
.logo-link1:focus {
  color: var(--white);
}
