.logo-link {
  font-family: raleway;
  font-weight: 700;
  color: #111;
  text-decoration: none;
}
.title {
  color: #2196f3;
}
.section1 {
  background-color: #2f303a;
  text-align: center;
}
.headline1 {
  color: #ffffff;
}
.list1 {
  text-decoration: none;
  font-family: Roboto;
  font-weight: 500;
  color: #212121;
  list-style: none;
}
.list1 :hover{
  color: #2196f3;
}