.logo-link {
  
  font-weight: 700;
  color: #111;
  text-decoration: none;
}
.title {
  color: #2196f3;
}
.section1 {
  background-color: #2f303a;
}
.headline1 {
  color: #ffffff;
}
.list1 {
  font: Roboto;
  font-weight: 500;
}
